$primary-color: #37ab00;
$backgroud-color: #fbfef4;
$backgroud-color2: #fff;

$transparent-black-70: #000000b3;
$transparent-black-30: #0000004d;
$transparent-black-20: #00000033;
$transparent-black-03: #00000008;

$white: $backgroud-color2;
